h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
img{
    width: 50px;
}
.hidden{
    display: none;
}

.loading{
    display: block;
    color: orange;

}
.done-image{
    color: green;
}
.failed-image{
    color: red;
}